<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNGTests" verbose="1">
    <test name="AutomateAPITest|TestNG" junit="false">
        <classes>
            <class name="com.browserstack.automate.test.TestNGTest"/>
        </classes>
    </test>
    <test name="AutomateAPITest|JUnit" junit="true">
        <classes>
            <class name="com.browserstack.automate.test.AutomateClassDefTest"/>
            <class name="com.browserstack.automate.test.AutomateTest"/>
            <class name="com.browserstack.automate.test.ParallelTest"/>
        </classes>
    </test>
</suite>
